{% extends "base.html" %} {% block content %}

<h2 class="separator">
    Welcome
</h2>

<div class="image-cropper">
    <img class="profile-pic" src="{{ url_for('static', filename='images/us.jpg') | resize(200, 200) }}" />
</div>

<p>
    We are a couple from London who love creating delicious home cooked vegan meals. We think even vegan food can be just as tasty and indulgent as non-vegan equivalents and are here to share some of our creations! Check out some recipes below or see our
    <a href="https://www.instagram.com/properveganfood/" class="underline">Instagram</a> for photos. To get in touch <a href="mailto:a@b.c" class="underline">email us</a> or <a href="https://www.instagram.com/properveganfood/" class="underline">message on Instagram</a>.
</p>

{% include 'recipes-card.html' %} {% endblock %}